$c-black: #000;
$c-light-gray: #ddd;
$c-super-light-gray: #eee;
$c-white: #fff;

// Color
$c-black-bg: #272729;
$c-deep-sea-blue: #122F46;
$c-input-blue: #7481C9;
$c-error-border: #443532;
$c-error-text: #FD4F57;

// Elems
$c-block-elem-bg: #1B1B1B;
$c-block-elem-border-focus: #2D313C;


// Font
$font-family-heading: 'Spectral, serif';
$font-family-body: 'Chivo, sans-serif';

// UI
$button-height: 36px;
