.u-width--full {
  width: 100%;
}

.u-height--full {
  height: 100%;
}

.u-display--block {
  display: block;
}

.u-display--inline {
  display: inline;
}

.u-display--inline-block {
  display: inline-block;
}

.u-float--left {
  float: left;
}

.u-float--right {
  float: right;
}

.u-overflow--hidden {
  overflow: hidden;
}

.u-position--absolute {
  position: absolute;
}

.u-position--fixed {
  position: fixed;
}

.u-position--relative {
  position: relative;
}

.u-margin--auto {
  margin: 0 auto;
}

.u-noselect {
  user-select: none;
}

.u-textAlign--left {
  text-align: left;
}

.u-textAlign--center {
  text-align: center;
}

.u-textAlign--right {
  text-align: right;
}

.u-bg--dark {
  background-color: $c-black-bg;
}
